.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h2 {
    font-size: max(4vw, 36px);
}

.hero p{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form{
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.hero button{
    border: none;
    background: #025CD5;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.crypto-table {
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 20px;
    color: black;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}


.market-cap{
    text-align: right;
}

.table-layout:last-child{
    border: none;
}

.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout img{
    width: 35px;
}

.table-layout .green{
    color: rgb(0, 255, 76);
    text-align: center;
}

.table-layout .red{
    color: rgb(255, 0, 0);
    text-align: center;
}

#coinlist{
    background-color: white;
}

.table-layout button{
    border: none;
    background-color: white;
    text-align: left;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}
  
button.favorite i {
    color: gold; 
}
  
button i {
    font-size: 1.2rem; 
}
  
.form{
    margin-top: 10px;
}

.table-header {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  .table-header .market-cap{
    text-align: right;
  }
  
  .table-header p {
    margin: 0;
    ;
  }
  
  .table-header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
  }
  
  .sort-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  
  .sort-arrow.asc {
    border-bottom: 5px solid #000; 
  }
  
  .sort-arrow.desc {
    border-top: 5px solid #000; 
  }


.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
  .pagination-controls button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-controls button:disabled {
    background-color: #313030;
    cursor: not-allowed;
  }
  
  .pagination-controls button:hover:enabled {
    background-color: #0056b3;
  }
  
  
  .pagination-controls span {
    margin: 0 10px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  
  

@media (max-width:768px){
    .table-layout{
        grid-template-columns: 0.5fr 0.5fr 2.5fr 1fr 1fr ;
    }

    .table-header{
        grid-template-columns: 0.5fr 0.5fr 2.5fr 1fr 1fr ;
    }
    
    .market-cap{
        display: none;
    }
}

@media (max-width:500px){
    .table-layout div img{
        width: 25px;
    }
    .table-layout{
        font-size: 13px;
    }
    .hero form input{
        width: 100px;
    }
}

